.contentMedia-left {
    margin-right: 5%;
    margin-left: 5%;
}

.contentMedia-right {
    margin-right: 40%;
    margin-left: 96px;
}

@media(max-width: 1200px) {

    .contentMedia-left {
        margin: 0 5%;
    }

    .contentMedia-right {
        margin-right: 45%;
        margin-left: 96px;
    }

    .curvedImage {
        width: 100%;
    }
}

@media(max-width: 1200px) {

    .contentMedia-right {
        margin-right: 45%;
        margin-left: 5%;
        position: static;
    }
    
    .curvedImage {
        width: 50%;
        
    }
}

@media(max-width: 899px) {

    .contentMedia-left {
        margin: 16px;
    }

    .contentMedia-right {
        margin: 0 auto;
    }
    .curvedImage {
        width: 100%;
    }
}