/* Global Header Styling  */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gotcha-Regular', sans-serif;
}

.headerSpan {
    font-size: 40px;
    line-height: 44px;  
    font-family: "General Sans", sans-serif;
    
}

/* H1 Styling */
.sharedAtom-headerGreen {
    font-weight: 400;
    color: #007173;
    font-size: 66px;
    line-height: 52px;
    font-weight: 400;
}

.sharedAtom-headerGreen span {
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
    font-family: "General Sans", sans-serif; 
    color: black;
}

/* H2 Styling */

.h2-styling {
    font-size: 60px;
    line-height: 44px;
}


/* MARAMEO Difference */

.sharedAtom-headerGreen .h2 {
    font-size: 60px;
    line-height: 44px;
    color: rgba(255, 255, 255, 1);
}

.h2 span {
    font-size: 40px;
    line-height: 44px;    
    color: white;
}





