.button {
    font-family: 'General Sans', sans-serif; 
    font-weight: 600;
    border: none;
    padding: 12px 24px;
    border-radius: 100px;
    font-size: 16px;
    color: #0F1828;
    /* background: transparent; */
}

.green {
    background: #007173;
    color: white;
}

.footerButton {
    background: #00BFC3;
}

