html {
    background: rgb(217, 217, 217);
    list-style: none;
}

ul { 
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    color: #0F1828;
    text-decoration: none;
}

/* BURGER MENU */

.navi__burgermenu {
    cursor: pointer;
    margin: 0 auto;
    padding-left: 1.25em;
    position: relative;
    width: 40px;
    height: 40px;
    display: none;
}

.navi__global {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 3px solid rgba(94, 94, 94, 1);
    width: 100%;
    transition: 0.55s;
}

.navi__top {
    top: 0;
}

.navi__middle {
    top: 18px;
    width: 70%;
    display: inline-block;
    margin-left: 18px;
}

.navi__bottom {
    top: 36px;
}

.navi__top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.55s 0.5s;
}

.navi__middle-click {
    opacity: 0;
}

navi__bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.55s 0.5s;
}

/* Custom Styling */
.navi {
    font-family: 'General Sans', sans-serif;
    background: white;
    display: flex;
    border-radius: 100px;
    align-items: center; 
    height: 80px;
}
 
/* LEFT NAV START */
.navi__leftContainer {
    margin: 12px 0 12px 32px;
}
/* LEFT NAV END */

/* MIDDLE NAV START */

.navi__middleContainer {
    display: flex;
    justify-content: space-evenly;
    flex: 5;
}

.navi__select {
    cursor: pointer;
    padding: 12px 16px;
}

.navi__select:hover {
    cursor: pointer;
    border-radius: 100px;
    font-weight: 600;
    background: rgba(255, 225, 214, 1);
}

.navi__select:hover .navi__title {
    font-weight: 600;
}

.navi__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;;
}

.navi__menu {
    display: none;
}
/* MIDDLE NAV END */


/* RIGHT NAV START */

.navi__rightContainer {
    text-align: end; /* Makes the container to the rightmost position */
    margin: 16px;
    display: flex; 
}

.navi__rightContainer img {
    margin: 28px 12px;
}

.navi__button {
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    transform: translateY(30%);
}


/* RIGHT NAV END */

@media(max-width: 1086px) {
    .navi__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;;
    }

    .navi__button {
        font-size: 14px;
    }
}


@media(max-width: 1033px) {
    .navi__title {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;;
    }

    .navi__button {
        font-size: 12px;
        width: auto !important;
    }
}

@media(max-width: 952px) { /* Removes Caret that messes up nav format on this size */
    .navi__caret {
        display: none;
    }
}


@media(max-width: 885px) { /* Removes links and button, mobile layout takesover the design*/
    .navi__middleContainer, .navi__rightContainer button {
        display: none;
    }

    .navi__burgermenu {
        display: block;
        margin: 28px 21px
    }

    .navi {
        display: flex;      
        justify-content: space-around;
    }

    .navi__leftContainer {
        width: 100%;
    }
}