html {
    background: rgb(217, 217, 217);
    list-style: none;
}

ul {
    
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    color: #0F1828;
    text-decoration: none;
}

/* Custom Styling */
.navi {
    font-family: 'General Sans', sans-serif;
    background: white;
    display: flex;
    border-radius: 100px;
    align-items: center; 
    height: 80px;
}
/* 
.navi div {
    width: 100%; /* Allowed elements to be spreadout on the nav */
 
/* LEFT NAV START */
.navi__leftContainer {
    margin: 12px 0 12px 32px;

}

/* LEFT NAV END */

/* MIDDLE NAV START */

.navi__middleContainer {
    display: flex;
    justify-content: space-evenly;
    flex: 5;
}

.navi__select {
    cursor: pointer;
    padding: 12px 16px;
}

.navi__select:hover {
    cursor: pointer;
    border-radius: 100px;
    font-weight: 600;
    background: rgba(255, 225, 214, 1);
}

.navi__select:hover .navi__title {
    font-weight: 600;
}


.navi__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;;
}

.navi__menu {
    display: none;
}




/* MIDDLE NAV END */


/* RIGHT NAV START */

.navi__rightContainer {
    text-align: end; /* Makes the container to the rightmost position */
    margin: 16px;
    display: flex;
    
}

.navi__rightContainer img {
    margin: 28px 12px;
}

.navi__button {
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    transform: translateY(30%);
    

}


/* RIGHT NAV END */



