.subtitle {
    font-family: "General-Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0F1828BF;
}

