/* Global Header Styling  */

h1, h2 {
    font-family: 'Gotcha-Regular', sans-serif;
}

h4, h5, h6 {
    font-family: "General Sans", sans-serif;
}

.header-span {
    font-size: 40px;
    line-height: 44px;  
    font-family: "General Sans", sans-serif;
    font-weight: 600;
}

/* H1 Styling */
.shared-atom-header-green {
    font-weight: 400;
    color: #007173;
    font-size: 66px;
    line-height: 52px;
    font-weight: 400;
}

.h1-styling span {
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
    font-family: "General Sans", sans-serif; 
    color: black;
}

/* H2 Styling */

.h2-styling {
    font-size: 60px;
    line-height: 44px;
    margin: 0;
}

.h2-styling span {
    color: black;
}

/* MARAMEO Difference */

.shared-atom-header-green h2 {
    font-size: 60px;
    line-height: 44px;
    color: rgba(255, 255, 255, 1);
}

h2 span {
    font-size: 40px;
    line-height: 44px;    
    color: white;
}

p {
    font-family: "General Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #383838;
}

footer p {
    color: white;
}



/* ABOUT US */

.about-container .h2-styling {
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 60px;
    font-weight: 400;
    line-height: 44px;
}

/* FEATURED PROPERTY */

.property-container h3 {
    font-family: "General Sans", sans-serif;
    color: rgba(28, 28, 28, 1);
}

.property-container p {
    margin: 0;
}

/* SDA Block */

.SDA-container h2 {
    margin-top: 12px;
    font-size: 60px;
    font-weight: 600;
    line-height: 44px;
}

.SDA-container .span-header {
    font-weight: 400;
    font-size: 40px;
}

.SDA-container__card h4 {
    margin: 12px 16px 16px 16px;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
}

.SDA-container p {
    margin-top: 0;
    margin-bottom: 24px;
}

/* STATE PROPERTIES Block */

.stateproperties-container .h2-styling {
    margin-top: 30px;
}
.stateproperties-container h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
}

.stateproperties-container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding: 12px 16px !important;    
}

/* DIFFERENCE Block */

.difference-container .h2-styling {
    color: rgba(255, 225, 214, 1);
    font-weight: 400;
    font-size: 60px;
}

.difference-container__card h4 {
    margin: 24px 15px 0 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
}

.difference-container p {
    color: rgba(241, 234, 230, 1);
}

.difference-container__card p {
    margin: 0;
    margin: 8px 33px 24px 0;
    font-size: 16px;
}

/* NEWS RESOURCE Block */

.newsresource-container .header-span {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

.newsresource-container h4 {
    margin: 8px 0 8px 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
}

.newsresource-container p {
    font-size: 16px;
    line-height: 24px;
}


@media (max-width:1063px) {
    .newsresource-container p {
        margin: 0;
    }    
}


@media (max-width: 1020px) {
    .SDA-container h2 {
        
        font-size: 48px;
        font-weight: 400;
        line-height: 36px;
    }
    
    .SDA-container .span-header {
        font-weight: 600;
        font-size: 32px;
    }
}

@media(max-width: 899px) {
    /* MAIN */

    .main-container h1 {
        font-size: 56px;
        line-height: 44px;
    }

    .main-container span {
        font-size: 48px;
        line-height: 52px;  
    }

    .stateproperties-container .h2-styling {
        font-size: 48px;
        line-height: 36px;
    }

    .stateproperties-container .header-span {
        font-size: 32px;
        line-height: 36px;
    }

    .stateproperties-container h5 {
        font-size: 18px;
        line-height: 24px;        
    }

    .stateproperties-container p {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        padding: 12px 16px !important;    
    }

    .about-container .header-span {
        font-size: 32px;
        line-height: 36px;
    }

}

@media (max-width: 768px) {
    .difference-container h4 {
        font-size: 22px;
        line-height: 28px;
        margin-top: 10px
    }
}