.button {
    font-family: 'General Sans', sans-serif; 
    border: none;
    padding: 16px 24px;
    border-radius: 100px;
    color: #0F1828;
    /* width: 165px; */
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 24px; */
    background: #F1EAE6;
    /* background: rgba(255, 255, 255, 0.5); */
}

.button a {
    text-decoration: none;
    color: rgba(15, 24, 40, 1);
    
}

.transparent {
    border: 1px solid rgba(15, 24, 40, 0.552);
    padding: 16px 24px;
}

.green {
    background: #007173;
    color: white;
    
}

.green a {
    color: white;
    text-decoration: none;
}

.footer-button {
    background: #00BFC3;
}

/* CONTACT BLOCK */

@media(max-width: 952px) {
    .contact-container button {
        width: 95%;
    }
}

