/* Nav Links */
.navi__mid-container .nav-link {
    font-family: "General Sans";
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
}

.navi__right-container .button {
    padding: 12px 24px;
}

/* General Styling */

/*  */

.button {
    font-family: "General Sans";
    border-radius: 100px;
    padding: 16px 24px;
    background: transparent;
    border: none;
    border: 1px solid rgba(15, 24, 40, 0.5);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.button.green {
    background: #007173;
    color: #FFFFFF;
    border: none;
}

.two-button-container {
    display: flex;
     gap: 8px; /* gap and flex should be on parent to apply gap spacing to children */
}

/* SDA */

/* .SDA-top-right-container .arrow-link > button {
} */

/* FOOTER */

footer .button.green {
    background: rgba(0, 191, 195, 1);
    color: rgba(15, 24, 40, 1);
    max-width: 240px;
}



@media (max-width: 1159px) {
    .main-container .two-button-container {
        flex-direction: column;
    }
}

@media (max-width: 1115px) {
    .contact__desc .two-button-container {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .featproperty-container .button,
    .SDA-container .button {
        width: 100%;
    }
}

@media (max-width: 826px) {
    footer .button.green {
        max-width: none;
    }
}

@media (max-width: 767px) {
    .two-button-container {
        display: flex;
        flex-direction: column;
    }
}


