.green-link-arrow {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-family: "General Sans", sans-serif; 
    font-weight: 600;
}

.green-link-arrow a {
    text-decoration: none;
    color: rgba(0, 113, 115, 1) !important;    
}

/* SDA Block */

.SDA-container .green-link-arrow > span {
    width: 8rem;
    margin: auto;
}

.SDA-container .green-link-arrow > img {
    width: 20px;
}

/* NEWS RESOURCE Block */

.newsresource-container .green-link-arrow {
    min-width: 10rem;
    margin-bottom: 30px;
}

.newsresource-container .green-link-arrow span {
    margin-top: 10px;
    margin-right: 8px;
    display: block;
    
}

.newsresource-container .green-link-arrow img {
    width: 20px;
}
@media (max-width: 1020px) {
    .SDA-container .green-link-arrow {
        display: flex;
        justify-content: center;
    }
    .SDA-container .green-link-arrow > span{
        width: 125px;
        margin: 0;
    }
}

@media (max-width: 682px) {
    .newsresource-container .green-link-arrow {
        margin-bottom: 32px;
    }

    .newsresource-container .green-link-arrow img {
        margin-top: 10px;
    }
}
