<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/fonts.css">
    <link rel="stylesheet" href="../css/atoms/headers.css">
    <link rel="stylesheet" href="../css/atoms/description.css">
    <link rel="stylesheet" href="../css/atoms/button.css">
    <title>Header Template</title>
</head>
<body>

    <!-- MAIN Block -->

    <div class="left-container main__desc">
        <h1 class="block-headers main-header">Life-changing </h1> <span class="main-span header-span">living</span>
        <p class="main-hero description">
            In ornare et eget commodo consectetur mauris nec. Risus leo ultricies adipiscing commodo ipsum interdum vulputate. Ut magna et mollis et. 
        </p>
        <div class="two-button-container">
            <button class="button green">Submit Enquiry</button>
            <button class="button">Find a property</button>
        </div>
    </div>

    <!-- CONTACT Block -->

    <span class="contact-span header-span">Contact</span>
    <h2 class="block-headers">Marameo</h2>
    <span class="contact-span header-span">today</span>

    <p class="contact description">
        Integer amet ultrices odio sed amet nulla gravida lectus. Nisl proin quisque pretium porta magnis ullamcorper pellentesque. Nam nibh augue in sed sed felis risus eu.
    </p>
    <div class="two-button-container">
        <button class="button green">Submit Enquiry</button>
        <button class="button">Call us at 1300 156 555</button>
      </div>


    
</body>
</html>