<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/fonts.css">
    <link rel="stylesheet" href="../css/components/nav-bar.css">
    <link rel="stylesheet" href="../css/blocks/burger-menu.css">
    <link rel="stylesheet" href="../css/atoms/button.css">
    <link rel="stylesheet" href="../css/atoms/headers.css">
    <link rel="stylesheet" href="../css/global/base.css">
    <title>Nav Bar</title>
</head>
<body>
    <header>
        <nav>
            <div class="navi-container">
                <div class="navi__left-container">
                    <img src="../assets/images/logo.svg" alt="">
                </div>
                <div class="navi__mid-container">
                    <button class="nav-link">
                        Our Properties 
                        <img src="../assets/images/caret.svg" alt="">
                     </button>
                     <button class="nav-link">
                        SDA 
                        <img src="../assets/images/caret.svg" alt="">
                     </button>
                     <button class="nav-link">
                        About Us
                        <img src="../assets/images/caret.svg" alt="">
                     </button>
                     <button class="nav-link">
                        Resource Hub 
                        <img src="../assets/images/caret.svg" alt="">
                     </button>
                     <button class="nav-link">
                        Media & News
                        <img src="../assets/images/caret.svg" alt="">
                     </button>
                </div>
                <div class="navi__right-container">
                    <img src="../assets/images/magnifying-glass.svg" alt="">
                    <button class="button green">Submit Enquiry</button>

                    <div class="navi__burger-menu">
                        <span class="navi__global navi__top"></span>
                        <span class="navi__global navi__middle"></span>
                        <span class="navi__global navi__bottom"></span>
                    </div>
                    
                </div>
                <div class="nav-search-modal-container">
                    <div class="nav-search-center">
                        <p class="nav-search-quest">How can we help you today?</p>

                        <div class="nav-search-modal-input">
                            <input type="text" placeholder="Enter a keyword to start searching" class="nav-search-input">
                            <img src="../assets/images/magnifying-glass.svg" alt="Search" class="nav-search-icon">  
                        </div>

                        
                    </div>
                </div>
                
            </div>
        </nav>
    </header>
    
</body>
</html>