<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../css/global/fonts.css">
    
        <link rel="stylesheet" href="../css/atoms/subtitles.css">
        <link rel="stylesheet" href="../css/atoms/arrowed-link.css">
        <link rel="stylesheet" href="../css/atoms/headers.css">
        <link rel="stylesheet" href="../css/atoms/description.css">
        <link rel="stylesheet" href="../css/atoms/button.css">
    
        <link rel="stylesheet" href="../css/components/nav-bar.css">
        <link rel="stylesheet" href="../css/components/nav-sub-menu.css">
        <link rel="stylesheet" href="../css/components/nav-sub-menu.css">
        <link rel="stylesheet" href="../css/components/burger-menu.css">
        <link rel="stylesheet" href="../css/components/burger-menu-list.css">
        <link rel="stylesheet" href="../css/components/cards.css">
        <link rel="stylesheet" href="../css/components/blog-cards.css">
    
        <link rel="stylesheet" href="../css/blocks/main.css">
        <link rel="stylesheet" href="../css/blocks/about.css">
        <link rel="stylesheet" href="../css/blocks/featured-property.css">
        <link rel="stylesheet" href="../css/blocks/state-properties.css">
        <link rel="stylesheet" href="../css/blocks/sda.css">
        <link rel="stylesheet" href="../css/blocks/difference.css">
        <link rel="stylesheet" href="../css/blocks/news-resource.css">
        <link rel="stylesheet" href="./css/blocks/contact.css">
        <link rel="stylesheet" href="../css/blocks/footer.css">
    
        <link rel="stylesheet" href="../css/global/base.css">
    
        <title>Marameo - Code Connect</title>
    </head>
<body>


                <div class="sub-link">
                    <div class="nav-sub-menu-title">
                        <p class=".font-prop-16-24 reset-me">Our Properties</p>
                            <a href="#" class="subtitle green">Learn More<img src="../assets/images/upright-arrow.svg" alt=""></a>
                    </div>
                    <div class="nav-prop-map">
                        <div class="nav-prop-top-map">
                            <div class="state-properties__triple">
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <div>
                                        <img src="../assets/images/victoria colored.svg" alt="Victoria map outline">
                                        <p>VIC</p>
                                    </div>
                                </a>
                    
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <div>
                                        <img src="../assets/images/new south wales colored.svg" alt="New South Wales map outline">
                                        <p>NSW</p>
                                    </div>
                                </a>

                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <div>
                                        <img src="../assets/images/queensland colored.svg" alt="Queensssland map outline">
                                        <p>QLD</p>
                                    </div>
                                </a>
                            </div>
                               
                        </div>
                        <div class="nav-prop-bottom-map">
                            <div class="state-properties__triple">
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <div>
                                        <img src="../assets/images/south aus colored.svg" alt="South Australia map outline">
                                        <p>SA</p>
                                    </div>
                                </a>
                    
                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <div>
                                        <img src="../assets/images/aus capital territory colored.svg" alt="Australia Capital Territory map outline">
                                        <p>ACT</p>
                                    </div>
                                </a>

                                <a href="#" rel="noopener noreferrer" target="_blank">
                                    <div>
                                        <img src="../assets/images/western aus colored.svg" alt="Western Australia map outline">
                                        <p>WA</p>
                                    </div>
                                </a>
                            </div>
                               
                        </div>
                        </div>
                    </div>
                </div>


                <!-- SDA -->

                <div class="sub-link">
                    <div class="nav-sub-menu-title">
                        <p class=".font-prop-16-24 reset-me">SDA</p>
                          
                    </div>
                    <div class="nav-sub-sda">
                        <ul>
                            <li class="font-prop-16-24">About SDA</li>
                            <li class="font-prop-16-24">How to Apply</li>
                            <li class="font-prop-16-24">Eligibility Check</li>
                            <li class="font-prop-16-24">FAQs for Investors, Builders, & Developers</li>
                        </ul>
                        <div class="nav-sub-two-col">
                            <div class="nav-sub-left-col">
                                <img src="../assets/images/property.png" alt="">
                            </div>
                            <div class="nav-sub-right-col">
                                <h5 class="font-prop-18-27 reset-me">How to Apply</h5>
                                <p class="font-prop-13-18 reset-me">
                                    Vehicula mattis fermentum in ullamcorper eleifend. Interdum.
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

          



        </div>
        
    </div>
    
</body>
</html>