<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global/fonts.css">
    <link rel="stylesheet" href="../css/atoms/subtitles.css">
    <link rel="stylesheet" href="../css/atoms/tags.css">
    <link rel="stylesheet" href="../css/components/tag-filter.css">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>

    <div class="tag-filter-container">
        <div class="tag-container">
            <div class="filtered-tag">
                <img src="../assets/images/close.svg" alt="">
                <p class="subtitle">Placeholder</p>
            </div>
            <div class="filtered-tag">
                <img src="../assets/images/close.svg" alt="">
                <p class="subtitle">Placeholder</p>
            </div>
        </div>
        
        <div class="filter-container">
            <span class="subtitle">Filter</span>

            <div class='filter-dropdown-container'>
                <div class='filter-dropdown'>
                  <div class='filter-select'>
                    <div class='selected-filter placeholder-filter'> Select Filter</div>
                    <div class='filter-caret'>
                        <img src="../assets/images/caret.svg" alt="">
                    </div>
                  </div>
                  <ul class='filter-menu'>
                    <li>Plaholder Tag 1</li>
                    <li>Plaholder Tag 2</li>
                    <li>Plaholder Tag 3</li>
                    <li>Plaholder Tag 4</li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
    
</body>
</html>