*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
}

.curved-image {
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
}

.component-container {
  max-width: 1920px;
    /*max-width: 1520px; --- Figma max width*/
  
  margin-inline: auto;
  width: 100%;
}

.container {
  padding: 80px 96px 0 96px;
  /* padding: 80px 0 0 0; */
}    

a {
  text-decoration: none;
  color: #0F1828;
  font-family: "General Sans";
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

.articles-list-content {
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 52px 70px 72px 70px;
  margin-top: 120px;
  margin: 0 24px;
  /* min-width: 393px; Stay or remove?? */
}

/* /* .hide-show {
  visibility: visible;
  transition: all 0.2s ease-in-out;
} */


@media (max-width: 991px) {
  .articles-list-content {
    margin: 0;
  }
}