@font-face {
  font-display: swap;
  font-family: "Gotcha";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/gotcha-regular.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "GT America Standard";
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/GT-America-Standard-Light.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/GeistMono-SemiBold.otf) format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 200;
  src: url(../../fonts/GeneralSans-Extralight.otf) format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/GeneralSans-Light.otf) format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/GeneralSans-Regular.otf) format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/GeneralSans-Medium.otf) format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/GeneralSans-Semibold.otf) format("opentype");
}

@font-face {
  font-display: swap;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/GeneralSans-Bold.otf) format("opentype");
}
