body {
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.placeholder1 {
    text-align: center;
    background: rgb(211, 211, 211);
    margin: 0;
}
.placeholder2 {
    text-align: center;
    margin: 0;
}
.placeholder3 {
    text-align: center;
    background: rgb(211, 211, 211);
    margin: 0;
}

.placeholder1 h2,
.placeholder2 h2,
.placeholder3 h2
{
    margin: 0;
}

