.newsresource__blog-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* padding-bottom: 80px; */

    justify-content: space-between;
    padding-bottom: 80px;
    margin-top: 38px;
}

/* .newsresource-container > div {
    width: 100%;
} */

.blog-cards-container {
    width: 30%; 
    margin: 0 auto;
    margin-top: 34px;
}

.blog-cards-container img {
    border-radius: 12px;
    width: 100%;
}