#nav__burger-menu {
    /* 
    background: white;
    margin-top: 150px;
    width: 90%;
    left: 0;   
    right: 0; 
    margin-left: auto; 
    margin-right: auto; */
    font-family: "General Sans";
    margin: 0;
    padding: 0;
    max-height: 0;
    background: rgb(238, 238, 238);
    overflow: hidden;
    transition: all .5s ease-in-out
}

.add-height {
    max-height: 82vh !important;
}

.add-sub-height {
    max-height: 100vh !important;
}





@media (min-width: 1040px) {
    #nav__burger-menu {
        display: none;
    }
}


