.navi__burger-menu {
    cursor: pointer;
    margin-top: 10px;
    padding-left: 1.25em;
    position: relative;
    width: 60px;
    height: 40px;
    display: none;
    
}

.navi__global {
    backface-visibility: hidden;
    position: absolute;
    left: 14px;
    border-top: 3px solid rgba(94, 94, 94, 1);
    width: 50%;
    transition: 0.55s;
}

.navi__top {
    top: 7px;
}

.navi__middle {
    top: 18px;
    width: 33%;
    display: inline-block;
    margin-left: 10px;

}

.navi__bottom {
    top: 28px;
}

.navi__top-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(50deg);
    transition: 0.55s 0.5s;
}

.navi__middle-click {
    opacity: 0;
}

navi__bottom-click {
    backface-visibility: hidden;
    top: 15px;
    transform: rotate(-410deg);
    transition: 0.55s 0.5s;
}

@media (max-width: 1039px) {
    .navi__burger-menu {
        display: block;
    }
}