.contact-container {
    background: linear-gradient(90deg, #009496 17%, #F1EAE6 17%); 
    flex-direction: row-reverse;
    padding-right: 80px;
}

.contact-container .content-media-left {
    /* margin-right: 10%;
    margin-left: 15%; */

    margin-left: 20%;
    
    margin-bottom: 0;
}

.contact-container .curved-image {
    margin: 0 19%;
    margin-top: 76px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    
}

@media(max-width: 1019px) {
    .contact-container {
        background: linear-gradient(90deg, #009496 0%, #F1EAE6 0%); 
        flex-direction: column;
        padding: 64px 16px 0 16px;
    }

    .contact-container .content-media-left {
        margin: 0;
    }

    .contact-container .content-media-right {
        margin-top: 56px;
    }

    .contact-container .content-media-button-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .contact-container button {
        width: 100%;
    }

    .contact-container .curved-image {
        margin: 0 auto;
    }
}

@media(max-width: 899px) {
    .contact-container .curved-image {
        width: 90%;
    }
}