
/* Brand Block */
footer {
    background: #0F1828;
    color: white;
    font-size: 16px;
    font-weight: 400;
    min-width: 393px;
    font-family: 'General Sans', sans-serif;
    min-width: 393px;
}

.overall-footer-container {
    max-width: 1600px;
    margin: 0 auto;
}

.footer__button {
    width: 240px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.footer__brand-logo {
    display: flex;
    justify-content: space-between;    
    padding: 100px 45px 45px 100px;
    max-width: 1600px;
}


.footer__brand-logo img + img {
    margin-right: 85px;
}

/* MIDDLE BLOCK */
.footer__middle-block {
    display: flex;
    justify-content: space-between;
    margin: 0 96px;
}

.footer__middle-block > .footer__contact-info {
    color: white !important;
}

.footer__contact-info {
    flex: 1;
}

.footer__phone, .footer__email {
    display: flex;
    margin: -20px 0;
}

.footer__phone img, .footer__email img {
    margin-right: 12px;
    margin-top: -5px;
}

.footer__phone p,
.footer_email p {
    margin: 8px 0;
}

.footer__link {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-grow: 2;
    margin-bottom: 57px;
}

.footer__link a {
    font-weight: 500;
}

.footer__footer-links {
    color: white;
}

.footer__inner-link-left, .footer__inner-link-right {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.footer__inner-link-left a {
    margin-bottom: 16px;
}

.footer__inner-link-right a:nth-child(3) {
    margin: 15px;
}

.footer__yellow-header {
    display: block;
    margin: 1em 0;
    color: #FAE6AA;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}

.footer__contact-media {
    flex: 1;
    margin-left: auto;
}

.footer__socialmedia {
    display: flex;
    margin: 32px 0;
}

.footer__socialmedia a:nth-child(2) {
    margin: 0 12px;
}


/* BOTTOM BLOCK */
.footer__bottom-block {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 20%);
    margin: 0 100px;
    color: #D0D0D0;
}

.footer__bottom-block a {
    font-weight: 600;
    color: white;
}

.footer__flag-container {
    margin: 20px 15px 0 0;
    text-align: center;
    min-width: 110px;
}

.footer__code-measurement p {
    text-align: center;
    font-size: 14px !important;
}


/* RESPONSIVE DESIGN */

@media(max-width: 1187px) {
    .footer__bottom-block {
        flex-direction: column;
    }
}

@media(max-width: 899px) {
    .footer__middle-block, .footer__contact-info, .footer__contact-media {
        flex-direction: column;
        margin: 0 auto;
    }

    .footer__contact-info {
        margin-bottom: 25px;  
        font-size: 16px;
    }

    .footer__phone {
        margin-left: 25px;
    }

    .footer__link {
        margin: 0 auto;
    }

    .footer__socialmedia {
        display: flex;
        margin: 24px auto;
        justify-content: center;
    }

    .footer__flag-container {
        margin: 15px 0 0 0;
    }

    .footer__link {
        margin-bottom: 56px;
    }
}

@media(max-width: 600px) {
    .footer__brand-logo, .footer__link {
        flex-direction: column;
        margin: 0 auto;
    }

    .footer__brand-logo {
        padding: 76px 0 45px 0;
        width: 230px;
        
    }

    .footer__brand-logo img + img {
        margin-top: 50px;
        margin-right: 0;
    }

    .footer__inner-link-right a + a {
        margin: 0;
    }

    .footer__inner-link-right a:nth-child(3) {
        margin: 16px 0;
    }

    .footer__button  {
        margin-top: 44px;
        width: 340px;
    }

    .footer__flag-container {
        margin: 15px 0 0 0;
    }
}