.navi-container {
  max-width: 1520px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.navi-component {
  max-width: 1520px;
  margin: 0 auto;
  border-radius: 100px;
  background: white;
  padding: 16px 16px 16px 32px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 24px;
}

.navi__mid-container {
  flex: 1; /* Allows nav links to spread out on resize */
  display: flex;
  justify-content: space-around;
}

.navi__right-container {
  margin-top: 5px;
}

.navi__mid-container button,
.navi__right-container img,
.navi__right-container button {
  cursor: pointer;
}

.navi__mid-container button:hover {
  background: #ffe1d6;
  padding: 12px 16px;
  border-radius: 100px;
}

.navi__right-container img {
  vertical-align: middle;
  margin: 12px;
}

/* SEARCH MODAL */

.nav-search-modal-container {
  background: rgb(237, 237, 237);
  height: 100vh;
  font-family: "General Sans";
}

.nav-search-center {
  position: absolute;
  top: 25%;
  width: 100%; 
  padding: 0 16px;
}

.nav-search-modal-input {
  border: 1px solid rgba(94, 94, 94, 1);
  max-width: 800px;
  margin: auto;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  
}

.nav-search-modal-input > * {
  background: rgba(15, 24, 40, 0.05);
}

.nav-search-input {
  padding: 13px 0 13px 13px;
  border: none;
  width: 100%;
  
}

.nav-search-icon {
  padding-right: 13px;
}



@media (max-width: 1154px) {
  .navi__mid-container button:hover img {
    display: none; /* Removes caret on hover */
  }
}

@media (max-width: 1039px) {
  .navi__mid-container {
    display: none;
  }

  .navi__right-container {
    display: flex;
    margin: 0;
  }

  .navi__right-container img {
    margin: 12px 24px;
  }

  .navi__right-container button {
    display: none;
  }

  .navi__burger-menu {
    display: block;
  }
}

@media (max-width: 1130px) {
  .navi__mid-container img {
    display: none; /* Removes carat to maintain nav UI */
  }

  .navi__right-container img {
    margin: 12px 0; /* Removes side spacing to mantain nav UI */
  }
}

@media (max-width: 767px) {
  .navi-container  {
    width: 100%;
  }
  .navi-component  {
    position: absolute;
    left: 0;
    right: 0;
    min-width: 325px;
    margin: 24px 16px 0 16px !important; 
  }

  .navi__right-container img {
    margin-right: 0;
  }
}

/* @media (max-width: 576px) {
  .navi-container {


  }
} */