.tag-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tag-container {
    display: flex;
    gap: 12px;
}

.filter-container {
    display: flex;
}


.filter-container .subtitle {
    margin: 12px 12px 0 0;
    display: flex;
    flex-wrap: nowrap;
    min-width: 81px;
}


/* Pages Dropdown */

.filter-dropdown-container {
    font-family: "General Sans";
    width: fit-content;
    max-width: 280px;
    padding: 8px 150px 8px 15px;
    border-radius: 8px;
    border: .3px solid rgba(94, 94, 94, 1);
    color: rgba(94, 94, 94, 1);
    font-size: 16px;
}

.filter-dropdown {
    position: relative;
    color: rgba(94, 94, 94, 1);
}

optgroup {
    font-family: "General Sans";
}

optgroup:empty {
    display: none
  }


/* .filter-select {
    cursor: pointer;
    transition: .3s;
    background: rgba(15, 24, 40, 0.05);
    border-radius: 8px;
    border: .3px solid rgba(94, 94, 94, 1);
    display: flex;
    padding: 8px 150px 8px 15px;
    align-items: center;
    justify-content: space-between;
} */

.filter-select {
    display: flex;
    justify-content: space-between;
    width: 250px;
}


.selected-filter {
    /* overflow: hidden; */
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    
}

.filter-caret {
    /* margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black; */
    transition: .3s;
    right: 5%;
    position: absolute;
    
    
}

.filter-caret:hover {
    background: rgba(94, 94, 94, 1);
}

.filter-menu {
    background: rgba(15, 24, 40, 0.05);
    border-radius: 8px;
    overflow: hidden;
    width: 90%;
    transition: visibility 0s, opacity .3s;
    z-index: 1;
    top: 120%;
    position: absolute;
    padding-left: 15px;
     visibility: hidden;
}

.filter-menu li {
    cursor: pointer;
    margin: 15px 0;
    list-style: none;
}

.filter-menu li:hover {
    background: blue;
}

.filter-menu-open {
    visibility: visible;
    opacity: 1;
}

.filter-caret-rotate {
    transform: rotate(180deg);
}

.active-filter {
    background: maroon;
}

@media (max-width: 750px) {
    .filter-select {
        width: 100%;
    }


    .filter-caret {
        right: 5%;
    }
}