.contact-container {
    background: linear-gradient(90deg, #009496 17%, #F1EAE6 17%); 
    flex-direction: row-reverse;
}

.contact-container .content-media-left {
    margin-right: 10%;
    margin-left: 15%;
    margin-bottom: 191px;
}

.contact-container .curved-image {
    margin: 0 19%;
}

@media(max-width: 1019px) {
    .contact-container {
        background: linear-gradient(90deg, #009496 0%, #F1EAE6 0%); 
        flex-direction: column;
    }

    .contact-container .content-media-left {
        margin-bottom: 0;
    }

    .contact-container .content-media-right {
        margin-top: 56px;
    }

    .contact-container .content-media-button-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .contact-container button {
        width: 100%;
    }

    .contact-container .curved-image {
        margin: 0 auto;
    }
}

@media(max-width: 899px) {
    .contact-container .curved-image {
        width: 90%;
    }
}