.shared-atom-header-green p {
    color: rgba(56, 56, 56, 1); 
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}   

.shared-atom-header-green {
    font-weight: 400;
     margin-bottom: 30px; /* margin-top on <p> not working, adjusted spacing from h1 instead */
}

.content-media__descr button:first-of-type {
    margin-right: 8px;
    margin-bottom: 8px;
}

.content-media-container {
    display: flex;
}

.main-container {
    background: linear-gradient(90deg, #F1EAE6 80%, #009496 20%); 
}

.content-media-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 95px;
    margin-right: 5px;
}

.content-media-right {
    /*margin-top: 50%;  Adjust to give image spacing from the top */
    /* margin-right: 50%; */
    /* position: relative; */
    display: flex;
    align-items: end;
}

.main-container .curved-image {
    margin-top: 230px
}

.curved-image {
    /* width: 40vw;  Best image width to maintain ratio and spacing upon resizing */
    /* position: absolute;
    bottom: 0; */
    margin-right: 79px;
    width: 30rem;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

.content-media__descr {
    margin-top: 100px;
}

/* PROPERTY Block */

.property-container h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin: 8px 0;
}

/* DIFFERENCE Block */

.difference-container .header-span {
    color: white;
    font-weight: 600;
    font-size: 40px;
    
}

/* NEWS RESOURCE Block */ 

.newsresource-container .shared-atom-header-green {
    margin-bottom: 32px;
}


@media(max-width: 899px) {
    .main-container {
        background: linear-gradient(90deg, #F1EAE6 100%, #009496 20%); 
    }

    .content-media-container {
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between;
        height: auto; 
    }

    .content-media-left {
        margin: 0 16px;
    }

    .shared-atom-header-green {
        font-size: 56px !important;
        line-height: 44px !important;
        font-weight: 400;
    }

    .content-media-right {
        position: static;
        margin: 0 auto;
        justify-content: center;
    }

    .main-container .curved-image {
        margin-top: 52px;
        margin-right: 0;
        position: static;
        bottom: 0;
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        width: 85%;
    } 

    .main-container .content-media-button-container {
        text-align: center;
    }

    .content-media-button-container button {
        width: 95%;
    }

    /* .contentMedia-container {
        padding-bottom: 10%;
    } */

    .property-container .content-media__descr {
        margin-top: 22px;
    }

    .property-container h3 {
        font-size: 26px !important;
        line-height: 34px !important;
    }

    .property-container .content-media-left {
        padding-bottom: 64px;
    }

    .property-container__button-container {
        margin: 0 auto;
        text-align: center;
    }

    .difference-container .h2-styling {
        font-size: 48px !important;
        line-height: 36px;
    }
}



