.sharedAtom-headerGreen p {
    color: rgba(56, 56, 56, 1); 
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}   

.sharedAtom-headerGreen {
    font-weight: 400;
     margin-bottom: 30px; /* margin-top on <p> not working, adjusted spacing from h1 instead */
}

.contentMedia__descr button:first-of-type {
    margin-right: 8px;
    margin-bottom: 8px;
}

.contentMedia-container {
    display: flex;
}

.mainContainer {
    background: linear-gradient(90deg, #F1EAE6 80%, #009496 20%); 
}

.contentMedia-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 95px;
    margin-right: 5px;
}

.contentMedia-right {
    /*margin-top: 50%;  Adjust to give image spacing from the top */
    /* margin-right: 50%; */
    /* position: relative; */
    display: flex;
    align-items: end;
}

.mainContainer .curvedImage {
    margin-top: 230px
}
.curvedImage {
    /* width: 40vw;  Best image width to maintain ratio and spacing upon resizing */
    /* position: absolute;
    bottom: 0; */
    margin-right: 79px;
    width: 30rem;

    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}

.contentMedia__descr {
    margin-top: 100px;
}

@media(max-width: 899px) {
    .mainContainer {
        background: linear-gradient(90deg, #F1EAE6 100%, #009496 20%); 
    }

    .contentMedia-container {
        flex-direction: column !important;
        align-items: center;
        justify-content: space-between;
        height: auto; 
    }

    .contentMedia-left {
        margin: 0 16px;
    }

    .sharedAtom-headerGreen {
        font-size: 56px !important;
        line-height: 44px !important;
        font-weight: 400;
    }

    .contentMedia-right {
        position: static;
        margin: 0 auto;
        justify-content: center;
    }

    .mainContainer .curvedImage {
        margin-top: 52px;
        margin-right: 0;
        position: static;
        bottom: 0;
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        width: 85%;
    } 
    .contentMedia-buttonContainer button {
        width: 95%;
    }

    /* .contentMedia-container {
        padding-bottom: 10%;
    } */
}
