.events-page {
    font-family: "General Sans";
    background: rgba(15, 24, 40, 1);
    color: rgba(255, 255, 255, 1);
    padding-bottom: 124px !important; 
}

.events-page a {
    color: rgba(255, 255, 255, 1);
}

.events-page__descr {
    margin-top: 100px;
}

.tag-title {
    color: black;
}

.filtered-tag {
    display: none;
}

/* ARTICLE IMAGES CROPPING */

.events-page .newsresource__blog-container {
    padding-bottom: 45px;
}

.events-page .blog-cards-container img {
    object-fit: cover;
    height: 212px;
}

.events-page .blog-cards-container:nth-child(5) img {
    object-position: 0 25%;
}
.events-page .blog-cards-container:nth-child(7) img {
    object-position: 0 10%;
}

.events-page button {
    display: block;
    margin: 0 auto;
}

.event-date {
    background: rgba(15, 24, 40, 1);
    width: fit-content;
    color: white;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: "General Sans";
    position: absolute;
    margin: 8px;
}

.event-date h6, .event-date p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.event-date p {
    
    font-size: 24px;
    line-height: 24px;
}

.event-date h6 {
    
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
}

/* .events-connect-inform {
    background: linear-gradient(90deg, #009496 26%, #f1eae6 18%);
    display: flex;
    margin-top: 36px;


    height: 400px;
    overflow: hidden;
}

.events__img-container {
    position: relative;
    
}

.events__desc {

} 



.events-connect-inform img {
    border-radius: 1000px 1000px 0 0;


}

*/

.events-connect-inform {
    background: linear-gradient(90deg, #009496 26%, #f1eae6 18%);
    height: 400px;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    padding: 0 72px 0 93px;
    margin-top: 120px;
}


.events__img-container img {
    position: relative;
    border-radius: 1000px 1000px 0 0;
    object-fit: cover;
    z-index: 1;
    top: -85px;
    object-position: 0 90%;
}

.events__connect {
    margin-left: 69px;
    margin-top: 100px;
}

.subscribe {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.subscribe .email-sub {
    height: 48px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    text-indent: 16px;
}

.events-connect-mobile {
    display: none;
}



@media (max-width: 1325px) {
    .events__connect {
        margin-top: 15px;
    }
}

@media (max-width: 1205px) {
    .events-connect-inform {
        padding: 0 16px;
    }
    .events__connect {
        margin: 0 15px 0 25px;
    }
    .events__connect .tag-title {
        font-size: 32px;
        margin-bottom: 0;
    }

    .events__connect .description {
        font-size: 18px;
        margin: 8px 0 16px 0;
    }
    .subscribe {
        flex-direction: column;
    }

    .subscribe button {
        width: 100%;
    }
}
  

@media (max-width: 1015px) {
    .events-page, .articles-list-content {
        padding: 52px 16px 52px 16px !important;
    }
    /* .filter-container {
        margin-top: 32px;
    } */
}

@media (max-width: 888px) {
    .events-connect-inform {
        display: none;
    }

    .events-connect-mobile {
        display: block;
        background: #f1eae6;
        color: black;
        border-radius: 8px;
        margin-top: 320px;
        padding: 0 16px 32px 16px;
        
        
    }

    .events__img {
        /* background: linear-gradient(180deg, #9b3838 26%, #f1eae6 18%);
        text-align: center;
        border-radius: 10% 10% 10% 10%; */
        height: 50px;
        text-align: center;
    }

    .events__img img {
        border-radius: 1000px 1000px 0 0;
        object-fit: cover;
        width: 90%;
        height: 40vh;
        object-position: 0 70%;
        position: relative;
        top: -555%;
        z-index: 99;
    }

    .events__desc-mobile {
        margin-top: 265px;
    }

}

@media (max-width: 600px) {
    .events__img img {
        height: 30vh;
    }

    .events__desc-mobile {
        margin-top: 110px;
    }
}



@media (max-width: 450px) {
    .events-connect-mobile {
        margin-top: 165px;
    }
    .events__img {
        height: 20px;
    }

    .events__img img {
        border-radius: 1000px 1000px 0 0;
        object-fit: cover;
        
        height: 305px;
        object-position: 0 70%;
        padding: 0 10px;
    }

    .events__desc-mobile {
        margin-top: 185px;
    }
}












@media (max-width: 575px) {
    .events-page button {
        display: block;
        width: 100%;
        margin: 0 auto;
    }


}

