.property-container {
    flex-direction: row-reverse;
    padding: 80px 96px; /* siwtch from margin to padding */
    background: rgba(255, 225, 214, 0.25);
    
}

.property-container .content-media-right {
    flex-direction: column;
    align-items: start;

}

.property-container h2 {
    font-family: "General Sans", sans-serif;
}

.property-container button {
    margin-top: 32px;
}

.property-container span:last-of-type {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: block;
}

.property-container img {
    width: 50rem;
    border-radius: 8px;
}

.property-container .content-media-left {
    margin-left: 67px;
    flex: 1;
}

@media(max-width: 1221px) {

    .property-container {
        padding-right: 10px;
    }

    .property-container img {
        width: 30rem;
    }

    .property-container .content-media-left {
        margin-left: 20px;
        margin-top: -10px;
    }

    .property-container p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(56, 56, 56, 1);
    }
}

@media (max-width: 899px) {
    .property-container {
        flex-direction: column-reverse !important;
        margin: 0;
        padding: 0;
    }

    .property-container .content-media-left,
    .property-container .content-media-right {
        margin: 0 16px;
    }

    .property-container .content-media-right {
        margin-top: 64px;
    }

    .property-container img {
        width: 100%;
    }

    .property-container .content-media-right h2 {
        font-weight: 600;
        font-size: 32px;;
        line-height: 36px;
    }

    .property-container .content-media-left {
        margin: 0 16px;
        margin-top: 22px;
        
    }


}