/* .navi__properties {
    display: none;
} */

.navi__upper-container {
    display: flex;
}

.navi__upper-left-properties, .navi__upper-right-properties {
    width: 100%;
    margin-top: 25px;
}

.navi__content .navi__custom {
    font-weight: 600;
    width: 100%;
}

.navi__upper-right-properties {
    justify-content: end; 
}

/* PROPERTIES NAV -- MAP CONTENT */
.navi__map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navi__state-container {
    justify-content: center;
    margin: 18px 28px;
    height: 110px;
    text-align: center;
    position: relative; /* Relative so that absolute/bottom:0 works for its child p */
}

.navi__state-container > p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navi__state-container > img, .navi__upper-right-properties > img {
    width: auto !important;
}

.navi__hover + .navi__SDA,
.navi__hover + .navi__about,
.navi__hover + .navi__resource,
.navi__hover + .navi__media-news
 {
    padding: 0 !important;
}

.navi__left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 220%;
    margin: 0 32px;
    
}

.navi__left-content a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(15, 24, 40, 0.75);
}

.navi__left-content-custom {
    display: flex;
    flex-direction: column;
    width: 220%;
    margin: 0 32px;
}

navi__left-content-custom:last-child {
    margin-top: 16px
}

.navi__custom-title {
    font-weight: 600;
    font-size: 16;
    line-height: 24px;
    margin-bottom: 8px
}

.navi__custom-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(15, 24, 40, 0.75);
    margin: 16px 0;
}

.navi__left-content a:last-child {
    margin-bottom: 36px;
}

.navi__SDA > .navi__content-container
 {
    display: flex;
}

.navi__right-content {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}


.navi__right-content > * {
    margin: 0 32px;
}

.navi__right-content img {
    margin-top: 32px;
    height: 120px;
}

.navi__right-content h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 4px;
}

.navi__right-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .5px;
    padding-bottom: 32px;
}

.navi__left-content .navi__title {
    font-weight: 600;
}