.news-resource-page {
    background: rgba(9, 68, 62, 1);
    font-family: "General Sans";
    color: rgba(255, 255, 255, 1);
    padding-bottom: 124px !important;   
}

/* PAGE INTRO */

.news-resource-page__descr {
    margin-top: 100px;
}

.page-title {
    text-align: center;
}
.page-title .description {
    color: rgba(255, 255, 255, 1);
    width: 370px;
    margin: 0 auto;
}

.news-resource-page__descr .page-title span {
    color: rgba(255, 225, 214, 1);
    font-family: "Gotcha";
}

/* TAGS AND ARTICLES */

.articles-list-content {
    padding: 52px 72px 72px 72px;
}

