.news-resource-page {
    background: rgba(9, 68, 62, 1);
    font-family: "General Sans";
    color: rgba(255, 255, 255, 1);
    padding-bottom: 124px !important;   
}

.news-resource-page a {
    color: rgba(255, 255, 255, 1);
}

/* PAGE INTRO */

.news-resource-page__descr {
    margin-top: 100px;
}

.page-title {
    text-align: center;
}
.page-title .description {
    color: rgba(255, 255, 255, 1);

    margin: 0 auto;
}

.news-resource-page__descr .page-title span {
    color: rgba(255, 225, 214, 1);
    font-family: "Gotcha";
}

/* TAGS AND ARTICLES */

.tag-container {
    flex-wrap: wrap;
}

/* ARTICLE IMAGES CROPPING */

.news-resource-page .newsresource__blog-container {
    padding-bottom: 45px;
}

.news-resource-page .blog-cards-container img {
    object-fit: cover;
    height: 212px;
}

.news-resource-page .blog-cards-container:nth-child(5) img {
    object-position: 0 25%;
}
.news-resource-page .blog-cards-container:nth-child(7) img {
    object-position: 0 10%;
}

/* BUTTON */

.news-resource-page button {
    display: block;
    margin: 0 auto;
}


@media (max-width: 991px) {
    .news-resource-page, .articles-list-content {
        padding: 52px 16px 52px 16px !important;
    }
    /* .filter-container {
        margin-top: 32px;
    } */
}

@media (max-width: 750px) {
    .tag-filter-container {
        flex-direction: column;
        align-items: start;
    }

    .filter-container {
        margin-top: 32px;
    }

    .filter-container, .filter-dropdown-container {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .news-resource-page button {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .filter-dropdown-container {
        width: 75%;
        padding: 0 16px 0 0;
    }
}