.newsresource-container .newsresource__header-link {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 637px) {
    .newsresource__header-link {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .newsresource-container {
      padding: 80px 16px 0 16px !important;
    }
  }
  



