.newsresource-container {
    background: white;
    padding: 85px 96px 108px 96px;
    display: flex;
    flex-direction: column;
}

.newsresource-container .content-media-top,
.newsresource-container .content-media-bottom {
    width: 100%;
}

.newsresource-container .content-media-top {
    display: flex;
    justify-content: space-between;
}

.newsresource-container__sub-components {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.newsresource-container__card {
    width: 424px;
}

.newsresource-container__card img {
    width: 424px;
    border-radius: 12px;
}

@media (max-width: 675px) {
    .newsresource-container {
        background: white;
        padding: 64px 16px 62px 16px;
        display: flex;
        flex-direction: column;
    }

    
    .content-media-top {
        flex-direction: column;
    }


    .newsresource-container__card img {
        width: 100%;
    }

}